body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box {
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 3px 3px 6px rgb(100, 100, 100);
    text-align: center;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
}

.titulo {
    padding-bottom: 10px;
}

.formulario {
    display: flex;
    flex-direction: column;
}

#butao {
    margin-top: 10px;
    border: none;
    border-radius: 14px;
    padding: 8px;
    background-color: rgb(113, 189, 0);
    color: white;
    cursor: pointer;
}

#butao:active {
    margin-top: 10px;
    border: none;
    border-radius: 14px;
    padding: 8px;
    background-color: rgb(89, 148, 0);
    color: white;
    cursor: pointer;
}

label {
    text-align: left;
    font-size: 11px;
    font-weight: 800;
}

.campo {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 8px;
}

strong {
    color: rgb(113, 189, 0);
}

.cadastro-login {
    width: 332.72px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

#butao-c {
    border: none;
    border-radius: 19px 0 0 19px;
    width: 166.36px;
    padding: 20px 0;
    background-color: rgb(113, 189, 0);
    color: white;
}

#butao-l {
    border: none;
    border-radius: 0 20px 20px 0;
    width: 166.36px;
    padding: 20px 0;
    background-color: white;
    color: rgb(113, 189, 0);
}

a {
    text-decoration: none;
    color: rgb(113, 189, 0);
}